@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  .scrollbar-blue::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar-blue::-webkit-scrollbar-track {
    @apply rounded-full bg-blue-100;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb {
    @apply rounded-full bg-blue-500;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-900;
  }
}

@layer utilities {
  .scrollbar-gray::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar-gray::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-300;
  }

  .scrollbar-gray::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-600;
  }

  .scrollbar-gray::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-900;
  }
}
